<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <title>Footer | Melody Music School</title>
</head>
<body>
    <div class="footer-top">
        <img src="" alt="hotoh logo">
        <img src="" alt="retrodesign logo">
        <img src="" alt="insert one">
        <img src="" alt="prestiges logo">
        <img src="" alt="mountain logo">
        <img src="" alt="partnerco logo">
    </div>
    <div class="footer-mid">
        <div class="footer-address">
            <img src="" alt="location icon">
            <span>
                110 E 16th St
                New York, NY
            </span>
        </div>
        <div class="footer-twitter">
            <img src="" alt="twitter icon footer">
            <p>Investment advisor service is a modern, flexible and highly customizable theme for your financial, business, corporate and personal needs</p>
        </div>
        <div class="footer-open-hours">
            <img src="" alt="clock image icon">
            <span>
                Monday - Friday: 12pm - 8pm
                Saturday: 10am - 2pm
            </span>
        </div>
    </div>
    <div class="footer-lower">
        <p>ASHLEY &copy; 2023 All Rights Reserved. <a href="">Terms of Use</a> and <a href="">Privacy policy</a></p>
    </div>
</body>
</html>