<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/style.css" />
    <title>Footer || Melody Music School</title>
  </head>
  <body>
    <div class="top-nav">
      <img src="/images/melody.png" alt="melody logo" />
      <nav>
        <a href="/">HOME</a>
        <!-- <a href="">PAGES</a> -->
        <a href="/about#about">ABOUT</a>
        <a href="">CLASSES</a>
        <a href="/about#contact">CONTACT</a>
        <a href="/forms" class="transparent">BOOK ONLINE</a>
        <!-- <button class="transparent">BOOK ONLINE</button> -->
      </nav>
    </div>
  </body>
</html>
