<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About || Melody Music School</title>
</head>
<body>
    <%-include('partials/header')%>
    <div class="about" id="about">
        <h2>About Melody Music School</h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fuga nam tempore nisi, voluptas dolorem cupiditate vel fugit eius quidem veniam dolor ad alias amet distinctio delectus consectetur perspiciatis, facilis tenetur optio. Sapiente, magnam soluta. Ratione eligendi, aperiam vitae accusamus perferendis unde molestiae illo molestias expedita ipsa repellat corporis eaque voluptatum, quidem omnis a nihil debitis voluptate quibusdam eum quae. Labore quod debitis nesciunt excepturi? Tempora ducimus quas, doloribus veritatis, dicta explicabo eaque velit consequatur rerum nihil illo fugit distinctio perferendis at expedita vel dolores necessitatibus corrupti porro. Eaque officia ratione nemo quo, aspernatur similique recusandae nobis minus culpa repellendus sit.</p>
        
    </div>
</body>
</html>