<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/forms.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <div class="form-box">
        <h1 id="title">Sign Up</h1>
        <form action="">
          <div class="input-group">
            <div class="input-field" id="nameField">
              <input type="text" name="name" id="name" placeholder="Name" />
            </div>
            <div class="input-field">
              <input type="email" name="email" id="email" placeholder="Email" />
            </div>
            <div class="input-field">
              <input
                type="password"
                name="password"
                id="password"
                placeholder="Password"
              />
            </div>
          </div>
          <div class="btn-field">
            <button type="button" id="signupBtn" onclick="anotherFunction()">Sign Up</button>
            <button
              type="button"
              class="disabled"
              id="signinBtn"
              onclick="myFunction()"
            >
              Sign In
            </button>
          </div>
        </form>
      </div>
    </div>
    <script>
      anotherFunction = ()=>{
		nameField.style.maxHeight = "65px";
		title.innerHTML = "Sign Up";
		signinBtn.classList.add("disabled")
		signupBtn.classList.remove("disabled")
	  }

      myFunction = () => {
        nameField.style.maxHeight = "0";
        title.innerHTML = "Sign In";
        signupBtn.classList.add("disabled");
        signinBtn.classList.remove("disabled")
      };
    </script>
  </body>
</html>
