<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/style.css">
    <title>Home | Melody Music School</title>
  </head>
  <body>
    <div class="first-page">
      <%-include('partials/header')%>
      <div class="first-page-mid-section">
        <h1>Music for Everyone</h1>
        <h4>Awaken possibility</h4>
        <button class="yellow">START LEARNING</button>
      </div>
    </div>
    <div class="first-page-bottom-section">
      <h3>Private Lessons</h3>
      <p>
        We offer music education for individuals of just about ant age and
        skill level
      </p>
      <button class="greyish">LEARN MORE</button>
    </div>
    <div class="second-page">
      <div class="advert-card">
        <div class="advert-card-left-side">
          <img src="./images/summer.jpg" alt="kids round selfie" />
        </div>
        <div class="advert-card-right-side">
          <h3>Summer Arts Garden</h3>
          <p>
            We offer full-day and half-day camps for kids of all ages and skill
            levels - including beginners! Summer camps give students an
            opportunity to focus on one instrument or genre for a whole week.
          </p>
          <button>REGISTER NOW</button>
        </div>
      </div>
    </div>
    <div class="third-page">
      <div class="third-page-top">
        <h3>Music Groups</h3>
        <div class="music-groups">
          <div class="music-group-card">
            <img src="./images/kids-guitar.jpg" alt="card 1 icon image" />
            <h5>Kids</h5>
            <p>
              Our school is a solution for familiea who would like to expose
              their children to the world of music
            </p>
          </div>
          <div class="music-group-card">
            <img src="./images/teen-violin.jpg" alt="card 2 icon image" />
            <h5>Teens</h5>
            <p>
              Our classes help to develop the skills necessary for music
              learning and a lifelong enjoyment of music
            </p>
          </div>
          <div class="music-group-card">
            <img src="./images/wednesday.jpg" alt="card 3 icon image" />
            <h5>Adults</h5>
            <p>
              We have programs for everyone. In addition to teaching music to
              children, we also instruct adults and seniors
            </p>
          </div>
          <div class="music-group-card">
            <img src="./images/private.jpg" alt="card 4 icon image" />
            <h5>Private lessons</h5>
            <p>
              Private music lessons provide one on one attention, so teachers
              can focus on an individual student's needs.
            </p>
          </div>
        </div>
      </div>
      <div class="third-page-mid">
        <h3>Lets make art!</h3>
        <p>
          Explore several art forms as your child builds creativity and confides
          in our new visual arts classes for ages 2-5!
        </p>
        <button>SEE OUR ART CLASSES</button>
      </div>
      <div class="third-page-bottom">
        <h4>Student band of High School</h4>
        <!-- <video src=""></video> -->
        <video width="500px" height="250px" src="./images/orchestra.mp4" controls></video>
      </div>
    </div>
    <div class="fourth-page">
      <h3>Musical Instruments</h3>
      <div class="musical-instruments">
        <div class="each-instrument">
          <img src="/images/piano.png" alt="piano">
          <h5>Piano</h5>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio, facilis?</p>
        </div>
        <div class="each-instrument">
          <img src="/images/guitar-instrument.png" alt="guitar">
          <h5>Guitar</h5>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque, quasi.</p>
        </div>
        <div class="each-instrument">
          <img src="/images/microphone.png" alt="microphone">
          <h5>Voice</h5>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis, rem.</p>
        </div>
        <div class="each-instrument">
          <img src="/images/drum.png" alt="drums">
          <h5>Drums</h5>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique, dolore.</p>
        </div>
        <div class="each-instrument">
          <img src="/images/violin.png" alt="violin">
          <h5>Violin</h5>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corporis, dolor.</p>
        </div>
        <div class="each-instrument">
          <img src="/images/cello.png" alt="cello">
          <h5>Cello</h5>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Blanditiis, nemo.</p>
        </div>
        <div class="each-instrument">
          <img src="/images/double-bass.png" alt="bass">
          <h5>Double Bass</h5>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quos, consequatur?</p>
        </div>
        <div class="each-instrument">
          <img src="/images/saxophone.png" alt="saxophone">
          <h5>Saxophone</h5>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex, atque.</p>
        </div>
      </div>
      <div class="fourth-page-mid">
        <h3>Melody Music School</h3>
        <p>We have talented and very exprerienced instructors who teach piano, violin, guitar, cello and other instruments </p>
        <div class="numbers">
          <div class="each-number-item">
            <span>231</span>
            <h5>Students</h5>
          </div>
          <div class="each-number-item">
            <span>14</span>
            <h5>Teachers</h5>
          </div>
          <div class="each-number-item">
            <span>32</span>
            <h5>Programs</h5>
          </div>
          <div class="each-number-item">
            <span>21</span>
            <h5>Awards</h5>
          </div>
        </div>
      </div>
      <div class="fourth-page-bottom">
        <h4>Next Event</h4>
        <div class="date-section">
          <h5>03</h5>
          <span>APR 2023</span>
        </div>
        <p>Concert in the park. Come and visit with us, ask questions, try out a couple instruments and enjoy some great music!</p>
        <button>LEARN MORE</button>
      </div>
    </div>
    <div class="fifth-page">
      <div class="fifth-page-top">
        <h2>Latest News</h2>
        <div class="latest-news">
          <div class="news-items">
            <img src="/images/news-piano.jpg" alt="playing piano">
            <div class="news-item-date">
              <img src="/images/calendar.png" alt="calendar 1">
              <span>May 5, 2023</span>
            </div>
            <h2>International Piano</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni, impedit!</p>
          </div>
          <div class="news-items">
            <img src="/images/news-colombia.jpg" alt="playimg guitar">
            <div class="news-item-date">
              <img src="/images/calendar.png" alt="calendar 2">
              <span>May 5, 2023</span>
            </div>
            <h2>Columbia Kids Week</h2>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nam, delectus.</p>
          </div>
          <div class="news-items">
            <img src="/images/news-flute.jpg" alt="playing flute">
            <div class="news-item-date">
              <img src="/images/calendar.png" alt="calendar 3">
              <span>May 5, 2023</span>
            </div>
            <h2>Festival of Flutes</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, nihil!</p>
          </div>
        </div>
      </div>
      <div class="fifth-page-mid">
        <img src="/images/quote-owner.jpg" alt="quote owner">
        <p>"The school has everything that children need for successful study: textboos, daily assignments, planner, notebooks, music sheets, a staff who are very nice and kind, and ready to help at any time."</p>
        <span>Dian Jones / Parent </span>
      </div>
      <div class="fifth-page-bottom">
        <h3>Featured Teachers</h3>
        <div class="featured-teachers">
          <div class="teacher">
            <img src="/images/chronixx.jpg" alt="chronixx">
            <h5>Chronixx</h5>
            <span>Jamaican Reggae Singer</span>
            <div class="teacher-socials">
              <img src="/images/facebook.png" alt="facebook">
              <img src="/images/twitter.png" alt="twitter">
              <img src="/images/google.png" alt="google">
            </div>
          </div>
          <div class="teacher">
            <img src="/images/nikita.jpg" alt="nikita">
            <h5>Nikita Kering</h5>
            <span>Kenyan Soul Singer</span>
            <div class="teacher-socials">
              <img src="/images/facebook.png" alt="facebook">
              <img src="/images/twitter.png" alt="twitter">
              <img src="/images/google.png" alt="google">
            </div>
          </div>
          <div class="teacher">
            <img src="/images/tim.jpg" alt="tim">
            <h5>Tim McGraw</h5>
            <span>Country Singer</span>
            <div class="teacher-socials">
              <img src="/images/facebook.png" alt="facebook">
              <img src="/images/twitter.png" alt="twitter">
              <img src="/images/google.png" alt="google"> 
            </div>
          </div>
        </div>
      </div>
    </div>  
    <footer>
      <%-include('partials/footer')%>
    </footer>
  </body>
</html>
