<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home | Melody Music School</title>
</head>
<body>
    <div class="first-page">
        <div class="first-page-top-section">
            <%-include('partials/header')%>
            <h1>Melody Music School</h1>
            <h4>Awaken possibility</h4>
            <button class="yellow">START LEARNING</button>
        </div>
        <div class="first-page-bottom-section">
            <h3>Private Lessons</h3>
            <p>We offer music education for individuals of just about ant age and skill level</p>
            <button class="greyish">LEARN MORE</button>
        </div>
    </div>
    <div class="second-page">
        <div class="advert-card">
            <div class="advert-card-left-side">
                <img src="" alt="kids round selfie">
            </div>
            <div class="advert-card-right-side">
                <h4>Summer Arts Garden</h4>
                <p>We offer full-day and half-day camps for kids of all ages and skill levels - including beginners!
                    Summer camps give students an opportunity to focus on one instrument or genre for a whole week.
                </p>
                <button class="blue-greenish">REGISTER NOW</button>
            </div>
        </div>
    </div>
    <div class="third-page">
        <div class="third-page-top">
            <h3>Music Groups</h3>
            <div class="music-groups">
                <div class="music-group-card">
                    <img src="" alt="card 1 icon image">
                    <h5>Kids</h5>
                    <p>Our school is a solution for familiea who would like to expose their children to the world of music</p>
                </div>
                 <div class="music-group-card">
                    <img src="" alt="card 2 icon image">
                    <h5>Teens</h5>
                    <p>Our classes help to develop the skills necessary for music learning and a lifelong enjoyment of music</p>
                </div>
                <div class="music-group-card">
                    <img src="" alt="card 3 icon image">
                    <h5>Adults</h5>
                    <p>We have programs for everyone. In addition to teaching music to children, we also instruct adults and seniors</p>
                </div>
                <div class="music-group-card">
                    <img src="" alt="card 4 icon image">
                    <h5>Private lessons</h5>
                    <p>Private music lessons provide one on one attention, so teachers can focus on an individual student's needs.</p>
                </div> 
            </div>
        </div>
        <div class="third-page-mid">
            <h4>Lets make art!</h4>
            <p>Explore several art forms as your child builds creativity and confides in our new visual arts classes for ages 2-5!</p>
            <button class="yellow">SEE OUR ART CLASSES</button>
        </div>
        <div class="third-page-lower">
            <h4>Student band of High School</h4>
            <video></video>
        </div>
    </div>
    <div class="fourth-page">
        
    </div>
</body>
</html>