<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users Page | Melody Music School</title>
</head>
<body>
    <div class="user-first-page">
        <div class="user-left-side">
            <div class="user-left-top-nav">
                <img src="/images/melody.png" alt="users logo">
                <nav>
                    <a href="">HOME</a>
                    <a href="">ABOUT</a>
                    <a href="/log-out">LOG OUT</a>
                    <span><%=thisUser.name%></span>
                </nav>
            </div>
            <div class="user-left-mid-section">
                <img src="" alt="">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo doloribus assumenda voluptatem. Distinctio doloremque dolorum commodi dignissimos vitae repudiandae. Totam tempore nesciunt ma</p>
                <span>Explore our classes</span>
            </div>
        </div>
        <div class="user-right-side">
            <img src="" alt="">
        </div>
    </div>
</body>
</html>