/*-----------here we go---------*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/*----------multiple items--------*/
.first-page, .second-page, .third-page, .fourth-page, .fifth-page{
    height: 100vh;
    width: 100%;
}
/*----------header styling----------*/
.top-nav{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    /* backdrop-filter: blur(14px); */
}
.top-nav img{
    width: 40px;
    border-radius: 50%;
}
nav{
    display: flex;
    gap: 24px;
}
nav a{
    text-decoration: none;
    color: aliceblue;
}
nav a:hover{
    color: rgb(234, 234, 44);
}
nav button{
    margin-top: -10px;
    padding: 12px;
    border-radius: 30px;
    border: 1px aliceblue;
    background-color: transparent;
    background: none;
    color: aliceblue;
}

/*---------first page styling--------*/
.first-page{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 20px;
    background-image: url("/images/piano-girl.webp");
    background-repeat: no-repeat;
    background-size: 100%;
    
}
.first-page-mid-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}
.first-page-mid-section h1, h4{
    word-spacing: 4px;
    letter-spacing: 2px;
}
.first-page-bottom-section{
    display: flex;
    justify-content: center;
    gap: 4px;
}
/*----------second page styling----------*/
.second-page{
    display: flex;
    align-items: center;
    justify-content: center;
}
.advert-card{
    display: flex;
    width: 60%;
    align-items: center;
    border: 1px solid black;
}
/*-----------third page styling-------*/
.third-page{
    display: flex;
    flex-direction: column;
    
}
.music-groups{
    display: flex;
    padding: 20px;
    
}
.music-group-card{
    border: 1px solid black;
    margin: 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.third-page-mid{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 30%;
    width: 100%;
    gap: 14px;
}
.third-page-bottom{
    display: flex;
    flex-direction: column;
    align-items: center;
}
/*----------fourth page styling--------*/
.fourth-page{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.musical-instruments{
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
}
.each-instrument{
    border: 1px solid black;
    width: 20%;
    margin: 20px;
}
.fourth-page-mid{
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.numbers{
    width: 100%;
    display: flex;
    justify-content: space-between;    
}
.fourth-page-bottom{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 40px;
    background-color: rgb(158, 214, 196);
}
.date-section{
    display: flex;
    flex-direction: column;
}
.date-section h5{
    height: 70%;
    /* font-size: larger; */
    font-size: x-large;
    letter-spacing: 4px;
}
.date-section span{
    font-size: xx-small;
}
.fourth-page-bottom p{
    width: 40%;
    color: #faf8f8;
}
/*--------fifth page--------*/
.fifth-page{
    /* display: flex;
    align-items: center;
    flex-direction: column; */
}
.fifth-page-top{

}
.latest-news{
    display: flex;
}
.news-items{
    border: 1px solid black;
    margin: 20px;
}
.fifth-page-mid{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    gap: 14px;
}
.fifth-page-mid p{
    width: 60%;
}
.fifth-page-bottom{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
.featured-teachers{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    padding: 20px;
}
/*--------footer styling--------*/
.footer-top{
    display: flex;
    justify-content: space-around;
}
.footer-mid{
    display: flex;
    justify-content: space-around;
    padding: 20px;
}
.footer-address{
    border: 1px solid black;
    margin: 20px;
}
.footer-twitter{
    border: 1px solid blue;
    margin: 20px;
}
.footer-open-hours{
    border: 1px solid red;
    margin: 20px;
}
.footer-bottom{
    display: flex;
    justify-content: center;
}